<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body> 
    <header>
        <a href="{% url 'myMovieRiviews:review_list' %}">
            <div>my <span>Movie</span> reviews</div>
        </a>
        <div><a href="{% url 'myMovieRiviews:review_create' %}">add a new review</a></div>
    </header>
    <div class="creating__container">
        <div id = "review__title"><span>Movie</span> reivew🍿</div>   

        <form action="{% if movie %}{% url 'myMovieRiviews:review_edit' movie.id %}{% else %}{% url 'myMovieRiviews:review_create' %}{% endif %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="submit" value="save" id="submit">
            </div>
        </form>
    </div>
</body>
