
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 리뷰 사이트</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    <header>
        <a href="{% url 'myMovieRiviews:review_list' %}">
            <div>my <span>Movie</span> reviews</div>
        </a>
        <div><a href="{% url 'myMovieRiviews:review_create' %}">add a new review</a></div>
    </header>
    <div class="reviews__container">
        {% for movie in movies %}
        <div id="movie__content">
            <p id="poster">
                <img src="{% if movie.poster %}{{ movie.poster.url }}{% else %}{% static 'media/default.jpg' %}{% endif %}" alt="{{ movie.title }} 포스터">
            </p>
            <a href="{% url 'myMovieRiviews:review_detail' id=movie.id%}"><p>{{ movie.title }}</p></a>
            <p>개봉년도: {{ movie.release_year }}</p>
            <p>장르: {{ movie.genre }}</p>
            <p>별점: {{ movie.rating }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>