@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
p {
    padding: 0;
    margin: 0;
}
body {
    background-color: #E7F0DC;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    padding: 20px 0;
    align-items: center;
    font-family: 'MoveSans-Bold';
    border-bottom: 1px solid black;
}

header a > div {
    color: black;
}

header a > div > span, #review__title > span{
    color: #597445;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: .5rem;

}

a p {
    color: white;
}
body {
    font-family: 'KoPubWorldDotum';
    display: flex;
    flex-direction:column;
}
#review__title {
    padding: 10px 0 30px 0;
    font-family: 'MoveSans-Bold';
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid white;
    color: white;

}

#review__title > span {
    color: white;
}
.reviews__container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#movie__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 0 10px;
    background-color: #729762;
    border-radius: 15px;
    color: white;
    width: 200px;
    height: 350px;
    position: relative;
}

#movie__content:hover {
    transform: translateY(-10px);
    transition: .5s;

}
#movie__head__left a:hover {
    transform: scale(1.2);
    transition: .5s;
}

#movie__content > p {
    font-family: 'KoPubWorldDotum';
    font-size: .9rem;
    padding: 0;
    margin: 5px;
}
#movie__content > a > p {
    font-family: 'KoPubWorldDotum';
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0;
    margin: 5px;
}

#poster {
    height: 150px;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    padding-top: 10px;
}


#poster > img {
    object-fit: cover;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.creating__container {
    background-color: #597445;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    color: white;
}


#submit {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
}
#review__content {
    display: flex;
    flex-direction:column;
    width: 100%;
}

textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 100px;
}
#review__input {
    padding: 10px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

form {
    font-family: 'KoPubWorldDotum';
    color: white;
    padding-top: 30px;
}
.review__form {
    font-family: 'KoPubWorldDotum';
    margin-bottom: 15px;
    height: auto;
}

.movie__detail {
    font-family: 'KoPubWorldDotum';
    padding: 20px;
}

#movie__head{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 15px 0 0;
}

#movie__title {
    font-family: 'MoveSans-Bold';
    font-size: 1.3rem;
    font-weight: 700;
    color: #729762;
    padding-bottom: 10px;
}

#movie__head__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
#detail__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#movie__description {
    background-color: #729762;
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

#movie__poster > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#detail__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
#detail__content p {
    color: white;
}
#detail__content p > span {
    color: #E7F0DC;
}
#review {
    font-family: 'KoPubWorldDotum';
    background-color: #729762;
    padding: 10px;
    color: white;
}
